In [197]:
import pandas as pd
import numpy as np
from datetime import date, datetime

In [208]:
import json
df = json.loads('dataset/prediction_cases/case_2.json')
df.head()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [211]:
patient_df = pd.read_json('dataset/prediction_cases/case_4.json', orient='columns', dtype=True)

patient_df.head()

                                          patient aiDataset
id           9310554d-f01a-4e7d-bffb-00808e1beb3a       NaN
gender                                       male       NaN
dateOfBirth                            1955-12-26       NaN
address                   {'postalCode': '18215'}       NaN
race                                        other       NaN

In [212]:
patient_df['id'] = patient_df['patient']['id']
patient_df['gender'] = patient_df['patient']['gender']
patient_df['dateOfBirth'] = patient_df['patient']['dateOfBirth']
patient_df['race'] = patient_df['patient']['race']
for value, key in patient_df['patient']['address'].items():
    patient_df[value] = key

In [213]:
patient_df.head()

,patient,aiDataset,id,gender,dateOfBirth,race,postalCode
id,9310554d-f01a-4e7d-bffb-00808e1beb3a,NaN,9310554d-f01a-4e7d-bffb-00808e1beb3a,male,1955-12-26,other,18215
gender,male,NaN,9310554d-f01a-4e7d-bffb-00808e1beb3a,male,1955-12-26,other,18215
dateOfBirth,1955-12-26,NaN,9310554d-f01a-4e7d-bffb-00808e1beb3a,male,1955-12-26,other,18215
address,{'postalCode': '18215'},NaN,9310554d-f01a-4e7d-bffb-00808e1beb3a,male,1955-12-26,other,18215
race,other,NaN,9310554d-f01a-4e7d-bffb-00808e1beb3a,male,1955-12-26,other,18215

In [214]:
for value_aa, key_aa in patient_df['aiDataset']['data'][0].items():
    if (value_aa == "date"):
        patient_df[value_aa] = key_aa
    else:
        for val, key in patient_df['aiDataset']['data'][0]['socialScore'].items():
            if(val not in ('lastThreeMonths','lastSixMonths','lastTwelveMonths')):
                patient_df[val] = key

In [215]:
patient_df.head()

,patient,aiDataset,id,gender,dateOfBirth,race,postalCode,date,bmi,height,weight,socioEconomic,alcohol,drugUse,smokingStatus,anxiety,depression
id,9310554d-f01a-4e7d-bffb-00808e1beb3a,NaN,9310554d-f01a-4e7d-bffb-00808e1beb3a,male,1955-12-26,other,18215,2022-01-01,25.5,120.0,145.0,upper-middle,former,frequent,current,False,True
gender,male,NaN,9310554d-f01a-4e7d-bffb-00808e1beb3a,male,1955-12-26,other,18215,2022-01-01,25.5,120.0,145.0,upper-middle,former,frequent,current,False,True
dateOfBirth,1955-12-26,NaN,9310554d-f01a-4e7d-bffb-00808e1beb3a,male,1955-12-26,other,18215,2022-01-01,25.5,120.0,145.0,upper-middle,former,frequent,current,False,True
address,{'postalCode': '18215'},NaN,9310554d-f01a-4e7d-bffb-00808e1beb3a,male,1955-12-26,other,18215,2022-01-01,25.5,120.0,145.0,upper-middle,former,frequent,current,False,True
race,other,NaN,9310554d-f01a-4e7d-bffb-00808e1beb3a,male,1955-12-26,other,18215,2022-01-01,25.5,120.0,145.0,upper-middle,former,frequent,current,False,True

In [216]:
for month in ('lastThreeMonths','lastSixMonths','lastTwelveMonths'):
    for aa, bb in patient_df['aiDataset']['data'][0]['socialScore'][month][0].items():
        aa = month + "_"+ aa
        patient_df[aa] = bb

In [217]:
patient_df.columns

Index(['patient', 'aiDataset', 'id', 'gender', 'dateOfBirth', 'race',
       'postalCode', 'date', 'bmi', 'height', 'weight', 'socioEconomic',
       'alcohol', 'drugUse', 'smokingStatus', 'anxiety', 'depression',
       'lastThreeMonths_labTestType', 'lastThreeMonths_labTestResult',
       'lastThreeMonths_department', 'lastThreeMonths_medicationNameCode',
       'lastThreeMonths_medicationReason', 'lastSixMonths_labTestType',
       'lastSixMonths_labTestResult', 'lastSixMonths_department',
       'lastSixMonths_medicationNameCode', 'lastSixMonths_medicationReason',
       'lastTwelveMonths_labTestType', 'lastTwelveMonths_labTestResult',
       'lastTwelveMonths_department', 'lastTwelveMonths_medicationNameCode',
       'lastTwelveMonths_medicationReason'],
      dtype='object')

In [218]:
patient_df.shape

(7, 32)

In [219]:
patient_df = patient_df.reset_index(drop=True)
patient_df = patient_df.drop(columns=['patient', 'aiDataset'])
patient_df = patient_df.drop_duplicates()
patient_df.shape

(1, 30)

In [220]:
patient_df.head()

,id,gender,dateOfBirth,race,postalCode,date,bmi,height,weight,socioEconomic,...,lastSixMonths_labTestType,lastSixMonths_labTestResult,lastSixMonths_department,lastSixMonths_medicationNameCode,lastSixMonths_medicationReason,lastTwelveMonths_labTestType,lastTwelveMonths_labTestResult,lastTwelveMonths_department,lastTwelveMonths_medicationNameCode,lastTwelveMonths_medicationReason
0,9310554d-f01a-4e7d-bffb-00808e1beb3a,male,1955-12-26,other,18215,2022-01-01,25.5,120.0,145.0,upper-middle,...,4,12,B,hydrocodone,diuretic,4,56,C,lizik,diuretic

In [221]:
patient_df.columns

Index(['id', 'gender', 'dateOfBirth', 'race', 'postalCode', 'date', 'bmi',
       'height', 'weight', 'socioEconomic', 'alcohol', 'drugUse',
       'smokingStatus', 'anxiety', 'depression', 'lastThreeMonths_labTestType',
       'lastThreeMonths_labTestResult', 'lastThreeMonths_department',
       'lastThreeMonths_medicationNameCode',
       'lastThreeMonths_medicationReason', 'lastSixMonths_labTestType',
       'lastSixMonths_labTestResult', 'lastSixMonths_department',
       'lastSixMonths_medicationNameCode', 'lastSixMonths_medicationReason',
       'lastTwelveMonths_labTestType', 'lastTwelveMonths_labTestResult',
       'lastTwelveMonths_department', 'lastTwelveMonths_medicationNameCode',
       'lastTwelveMonths_medicationReason'],
      dtype='object')

In [222]:
patient_df.dtypes

id                                      object
gender                                  object
dateOfBirth                             object
race                                    object
postalCode                              object
date                                    object
bmi                                    float64
height                                 float64
weight                                 float64
socioEconomic                           object
alcohol                                 object
drugUse                                 object
smokingStatus                           object
anxiety                                   bool
depression                                bool
lastThreeMonths_labTestType              int64
lastThreeMonths_labTestResult            int64
lastThreeMonths_department              object
lastThreeMonths_medicationNameCode      object
lastThreeMonths_medicationReason        object
lastSixMonths_labTestType                int64
lastSixMonths_labTestResult              int64
lastSixMonths_department                object
lastSixMonths_medicationNameCode        object
lastSixMonths_medicationReason          object
lastTwelveMonths_labTestType             int64
lastTwelveMonths_labTestResult           int64
lastTwelveMonths_department             object
lastTwelveMonths_medicationNameCode     object
lastTwelveMonths_medicationReason       object
dtype: object

In [223]:
patient_df['dateOfBirth'] = pd.to_datetime(patient_df['dateOfBirth'], yearfirst = True)#, format='%d%b%Y:%H:%M:%S.%f')

In [224]:
def age(birthdate):
    dates = pd.DatetimeIndex(patient_df.dateOfBirth)
    today = date.today()
    age = today.year - dates.year
    return age[0]

In [225]:
print(age(patient_df['dateOfBirth']))

68

In [226]:
patient_df['age'] = age(patient_df['dateOfBirth'])

In [227]:
patient_df.head()

,id,gender,dateOfBirth,race,postalCode,date,bmi,height,weight,socioEconomic,...,lastSixMonths_labTestResult,lastSixMonths_department,lastSixMonths_medicationNameCode,lastSixMonths_medicationReason,lastTwelveMonths_labTestType,lastTwelveMonths_labTestResult,lastTwelveMonths_department,lastTwelveMonths_medicationNameCode,lastTwelveMonths_medicationReason,age
0,9310554d-f01a-4e7d-bffb-00808e1beb3a,male,1955-12-26,other,18215,2022-01-01,25.5,120.0,145.0,upper-middle,...,12,B,hydrocodone,diuretic,4,56,C,lizik,diuretic,68

In [228]:
def calc_age_weight(age):
        if (age > 65):
            age_weight = 1
        elif (age <= 65 and age > 44):
            age_weight = 3
        elif (age <= 44):
            age_weight = 5
        else:
            age_weight = 0

        print("age_weight : ", age_weight)
        return age_weight

In [229]:
age = patient_df.age
age

0    68
Name: age, dtype: int64

In [230]:
print(calc_age_weight(patient_df.iloc[0]['age']))

age_weight :  1
1

In [231]:
def calc_oud_score(patient_df):
       
    def calc_age_weight(age):
        #print("içerdeyim _ age")
        if (age > 65):
            age_weight = 1
        elif (age <= 65 and age > 44):
            age_weight = 3
        elif (age <= 44):
            age_weight = 5
        else:
            age_weight = 0

        #print("age_weight : ", age_weight)
        
        return age_weight
    
    def calc_gender_weight(gender):
        #print("içerdeyim _ gender")

        if (gender == 'female'):
            gender_weight = 1
        elif (gender == 'male'):
            gender_weight = 3
        else:
            gender_weight = 5
        
        #print("gender_weight : ", gender_weight)
        
        return gender_weight
 
    def calc_race_weight(race):
        #print("içerdeyim _ race")

        if (race == 'white'):
            race_weight = 1
        elif (race == 'other'):
            race_weight = 3
        elif (race == 'black'):
            race_weight = 5
        else:
            race_weight = 5
        
        #print("race_weight : ", race_weight)

        return race_weight

    def calc_bmi_weight(bmi):
        #print("içerdeyim _ bmi")

        if (bmi < 24.9):
            bmi_weight = 1
        elif (age >= 25 and age < 30):
            bmi_weight = 3
        elif (age >= 30 and age < 35):
            bmi_weight = 5
        else:
            bmi_weight = 10
            
        #print("bmi_weight : ", bmi_weight)

        return bmi_weight

    def calc_timezone_weight(timezone):
        #print("içerdeyim _ timezone")

        if (timezone == 'West/North-East'):
            timezone_weight = 1
        elif (timezone == 'Mid-West'):
            timezone_weight = 3
        elif (timezone == 'South'):
            timezone_weight = 5
        else:
            timezone_weight = 10
            
        #print("timezone_weight : ", timezone_weight)

        return timezone_weight
    
    def calc_socioeconomic_weight(socioEconomic):
        #print("içerdeyim _ socioEconomic")

        if (socioEconomic == 'None'):
            socioeconomic_weight = 0
        elif (socioEconomic == 'Upper'):
            socioeconomic_weight = 1
        elif (socioEconomic == 'Middle'):
            socioeconomic_weight = 3
        elif (socioEconomic == 'Lower'):
            socioeconomic_weight = 5
        else:
            socioeconomic_weight = 5
            
        #print("socioeconomic_weight : ", socioeconomic_weight)

        return socioeconomic_weight
    
    def calc_alcohol_weight(alcohol):
        #print("içerdeyim _ alcohol")

        if (alcohol == 'None'):
            alcohol_weight = 0
        elif (alcohol == 'Former'):
            alcohol_weight = 3
        elif (alcohol == 'Current'):
            alcohol_weight = 5
        elif (alcohol == 'Frequent'):
            alcohol_weight = 10
        else:
            alcohol_weight = 10
            
        #print("alcohol_weight : ", alcohol_weight)

        return alcohol_weight

    def calc_drup_use_weight(drugUse):
        #print("içerdeyim _ drugUse")

        if (drugUse == 'None'):
            drup_use_weight = 0
        elif (drugUse == 'Former'):
            drup_use_weight = 3
        elif (drugUse == 'Current'):
            drup_use_weight = 5
        elif (drugUse == 'Frequent'):
            drup_use_weight = 10
        else:
            drup_use_weight = 10

        #print("drup_use_weight : ", drup_use_weight)

        return drup_use_weight

    def calc_smoking_status_weight(smokingStatus):
        #print("içerdeyim _ smokingStatus")

        if (smokingStatus == 'None'):
            smoking_status_weight = 0
        elif (smokingStatus == 'Former'):
            smoking_status_weight = 3
        elif (smokingStatus == 'Current'):
            smoking_status_weight = 5
        else:
            smoking_status_weight = 10
            
        #print("smoking_status_weight : ", smoking_status_weight)

        return smoking_status_weight
    
    def type_constant(feature):
        if (feature == 'age'):
            feature_cons = 1
        elif (feature == 'gender'):
            feature_cons = 2
        elif (feature == 'race'):
            feature_cons = 1
        elif (feature == 'bmi'):
            feature_cons = 2
        elif (feature == 'timezone'):
            feature_cons = 1
        elif (feature == 'socioEconomic'):
            feature_cons = 1
        elif (feature == 'alcohol'):
            feature_cons = 1
        elif (feature == 'drugUse'):
            feature_cons = 2
        elif (feature == 'smokingStatus'):
            feature_cons = 2
        else:
            feature_cons = 0
            
        #print("feature_cons : ", feature_cons)

        return feature_cons

    def oud_risk_score_calculator(age, gender, race, bmi, timezone, socioEconomic, alcohol, drugUse, smokingStatus):
        age_score = calc_age_weight(age) * type_constant('age')
        gender_score = calc_gender_weight(gender) * type_constant('gender')
        race_score = calc_race_weight(race) * type_constant('race')
        bmi_score = calc_bmi_weight(bmi) * type_constant('bmi')
        timezone_score = calc_timezone_weight(timezone) * type_constant('timezone')
        socioEconomic_score = calc_socioeconomic_weight(socioEconomic) * type_constant('socioEconomic')
        alcohol_score = calc_alcohol_weight(alcohol) * type_constant('alcohol')
        drugUse_score = calc_drup_use_weight(drugUse) * type_constant('drugUse')
        smokingStatus_score = calc_smoking_status_weight(smokingStatus) * type_constant('smokingStatus')

        calculator_score = age_score + gender_score + race_score + bmi_score + timezone_score + socioEconomic_score + alcohol_score + drugUse_score + smokingStatus_score
        return calculator_score
    
    def scale_cal_score(score):

        score =  ((100 * (score - 7)) / 98) / 100
        #score = score.apply(lambda x: '{:.5f}'.format(x))
        return round(score, 5)
    
    age = patient_df.iloc[0].age
    #print(age)
    
    gender = patient_df.iloc[0].gender
    #print(gender)

    race = patient_df.iloc[0].race
    #print(race)
    
    bmi = patient_df.iloc[0].bmi
    #print(bmi)
    
    timezone = 'other'
    
    socioEconomic = patient_df.iloc[0].socioEconomic
    #print(socioEconomic)
    
    alcohol = patient_df.iloc[0].alcohol
    #print(alcohol)
    
    drugUse = patient_df.iloc[0].drugUse
    #print(drugUse)
    
    smokingStatus = patient_df.iloc[0].smokingStatus
    #print(smokingStatus)
        
    score =  oud_risk_score_calculator(age, gender, race, bmi, timezone, socioEconomic, alcohol, drugUse, smokingStatus)
    
    scaled_score = scale_cal_score(score)
    
    return scaled_score

In [232]:
calc_oud_score(patient_df)

0.89796